@import "tailwindcss";
/* body {
    @apply bg-[#121212];
} */
@theme {
    --color-white: #efefef;
}
html,
body {
    width: 100%;
    background-color: #121212;
    color: white;
    font-family: "SUSE Mono", sans-serif;
    font-size: 20px;
}
body::selection {
    color: #facc15;
}
/* Utilities to avoid repetitive code */
@utility flex-center {
    @apply flex justify-center items-center;
}
@utility flex-between {
    @apply flex justify-between items-center;
}
@layer components {
    nav {
        @apply flex-center sticky top-1;
    }
    span {
        @apply font-extrabold;
    }
    nav div {
        @apply flex-between flex-col py-2 px-5 container mx-auto md:flex-row md:p-6 lg:px-8;
    }
    nav div ul {
        @apply flex-between gap-5;
    }
    nav div ul li {
        @apply hover:cursor-pointer;
    }
}
